.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(77, 95, 209);
  color: white;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
}
