html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5b8af6;
  color: white;
}

li, ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 15px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fff;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
}

.section {
  padding: 50px;
  text-align: center;
}
